* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/*шрифты ******************************************/
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
body {
  font-family: "Open Sans", sans-serif;
}

/*

.header {
  padding: 30px 0 125px;
  background-image: url("../images/banner-bg.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.header::before {
  content: "";
  background-color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  z-index: -1;
}
.header-container {
  justify-content: center;
  display: flex;
}
.header-content {
  display: flex;
  max-width: 1200px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 182px;
}
.menu-button {
  display: none;
}
.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-item-link {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 35px;
}
.header-item-link:hover {
  text-decoration: underline;
}
.header-title {
  font-size: 45px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  margin: auto;
  margin-top: 100px;
  line-height: 1.6;
  width: 690px;
}

@media (max-width: 1199px) {
  .menu-button {
    display: block;
    width: 1.25em;
    height: 1em;
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }
  .menu-button:before,
  .menu-button:after {
    content: "";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
  }
  .menu-button:before {
    top: 0;
  }
  .menu-button:after {
    bottom: 0;
  }
  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;
    border-radius: 5px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
    padding: 40px 0 125px;
    background-image: url("../images/banner-bg-tablet.jpg");
  }
  .header-items {
    display: none;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 30px 0 220px;
    background-image: url("../images/banner-mobile.jpg")
  }
  .header-items {
    display: none;
  }
}

.main-trends-items {
  display: flex;
  width: 100vw;
  min-height: 320px;
}
.main-trends-item {
  width: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.trends-wood {
  background-image: url("../images/trend1.jpg");
}
.trends-chees {
  background-image: url("../images/trend2.jpg");
}
.trends-stown {
  background-image: url("../images/trend3.jpg");
}
.trends-lime {
  background-image: url("../images/trend4.jpg");
}
*/

/*header********************************************************/
.header {
  background-image: url("../images/banner-mobile.jpg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-size: cover;
  z-index: 1;
  min-width: 360px;
  height: 640px;
}
.header::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.logo {
  width: 270px;
  padding-top: 225px;
  margin: 0 auto;
}
.header-title {
  color: white;
  font-size: 26px;
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  padding-top: 43px;
  width: 280px;
  text-align: center;
}
/*burger***********************************************/
@media (max-width: 1199px) {
  .header-items {
    display: none;
  }
  .menu-button {
    width: 1.25em;
    height: 1em;  
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
  }
  .menu-button:before, .menu-button:after {
    content:"";
    width: 100%;
    height: 20%;
    border-radius: 5px;
    background-color: #ffffff;  
    position: absolute;
    left: 0;
  }
  .menu-button:before {
    top: 0;
  }
  .menu-button:after {
    bottom: 0;
  }
  .menu-button-label {
    width: 100%;
    height: 20%;
    margin-top: -0.1em;  
    border-radius: 5px;
    background-color: #ffffff;  
    position: absolute;
    left: 0;
    top: 50%;
  }
  .header-navigation {
    
  }

}